<p>
	Commenter: <%= comment.commenter %>
</p>
<p>
	Comment: <%= comment.body %>
</p>
<% if current_user %>
	<% if comment.user_id == current_user.id or comment.post.user_id == current_user.id %>
		<p>
			<%= link_to 'Destroy Comment', [comment.post, comment],
					method: :delete,
					data: { confirm: 'Are you sure?' } %>
		</p>
	<% end %>
<% end %>